{

  # Badgekit configuration
  # To get the staging secret key, ping k88hudson or echristensen on IRC (irc.mozilla.org)
  badgekitApiUrl: 'https://badgekit-api.mofostaging.net'
  badgekitApiKey: 'master'
  badgekitApiSecret: ''

  # URL for Login
  loginUrlWithAuth: 'http://testuser:password@localhost:3000'

  # Warning - everything in this block will be exposed to the front end
  public:

    # URL for Events app
    # Appended to the beginning of outbound event URLs
    eventApp: 'http://localhost:1981'

    # URL for Events Service
    eventService: 'http://localhost:1989'

    # URL for MakeAPI
    makeAPI: 'https://makeapi.webmaker.org'

    # Webmaker badges url
    webmakerBadgesUrl: 'https://webmaker.mofostaging.net/badges'
}
