{
  # URL for Events app
  # Appended to the beginning of outbound event URLs
  eventApp: 'http://localhost:1981'

  # URL for Events Service
  eventService: 'http://localhost:1989'

  # URL for MakeAPI
  makeAPI: 'https://makeapi.webmaker.org'
}
