.user-links {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.service-links {
  font-size: 1.66rem;

  li {
    float: left;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
