.user-metadata {
  .featured-badge {
    padding-top: 15px;
    padding-bottom: 15px;
    background: @brand-secondary;
    text-align: center;
    color: @white;
    text-transform: uppercase;

    img {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
