<div class="link-form margin-bottom clearfix" ng-show="isEditMode">
  <form novalidate name="personalLinks">
    <input class="form-control margin-bottom" ng-model="userLink" placeholder="Add a personal link – eg: http://w3.org" type="url" name="link">

    <div class="alert alert-warning" ng-show="showDuplicate"><span class="fa fa-exclamation-circle"></span> You already added that link!</div>
    <div class="alert alert-danger" ng-show="personalLinks.link.$invalid && showInvalid"><span class="fa fa-exclamation-circle"></span> Invalid URL formatting.</div>

    <button class="btn btn-primary pull-right" ng-click="addLink()">+ Add Link</button>
  </form>
</div>

<ul class="user-links clearfix">
  <li ng-repeat="link in linkList" ng-if="!link.service">
    <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
    <button ng-click="removeLink($index)" ng-show="isEditMode" class="btn btn-xs btn-danger">
      <i class="fa fa-times"></i>
    </button>
  </li>
</ul>

<ul class="user-links service-links clearfix pull-right">
  <li ng-repeat="link in linkList" ng-if="link.service">
    <a href="{{ link.url }}" target="_blank">
      <i class="fa fa-{{ link.service }}"></i>
    </a>
    <button ng-click="removeLink($index)" ng-show="isEditMode" class="btn btn-xs btn-danger">
      <i class="fa fa-times"></i>
    </button>
  </li>
</ul>
