<h2>Makes</h2>

<div class="margin-bottom btn-group">
  <a class="btn" href="#">Newest</a>
  <a class="btn" href="#">Most liked</a>
  <a class="btn" href="#">Popcorn</a>
  <a class="btn" href="#">Thimble</a>
  <a class="btn" href="#">XRay Goggles</a>
</div>

<ul ng-repeat="make in makes">
  <li>
    <a href="{{ make.url }}" target="_blank">{{ make.title }}</a>
    <p>{{ make.contentType }}</p>
    <p>{{ make.description }}</p>
    <p>{{ make.likes.length }} Likes</p>
    <ul ng-repeat="tag in make.tags">
      <li>{{ tag }}</li>
    </ul>
  </li>
</ul>
