<div class="clearfix margin-bottom">
  <h2 class="pull-left">Makes</h2>
</div>

<wmp-sort-filter-bar wmp-toggle-group class="margin-bottom btn-group">
  <button data-sort-id="-createdAt" class="btn btn-default active">Newest</button>
  <button data-sort-id="-likeCount" class="btn btn-default">Most popular</button>
  <button data-content-filter="popcorn" class="btn btn-default">Popcorn</button>
  <button data-content-filter="thimble" class="btn btn-default">Thimble</button>
  <button data-content-filter="x-ray-goggles" class="btn btn-default">XRay Goggles
  </button>
</wmp-sort-filter-bar>

<wmp-makes-list>
