<div class="clearfix">
  <h2 class="pull-left">Teaching Resources</h2>

  <a href="#" class="btn btn-primary pull-right margin-top" target="_blank">+ Add a Resource</a>
</div>

<div class="margin-bottom btn-group">
  <a class="btn" href="#">Newest</a>
  <a class="btn" href="#">Most liked</a>
  <a class="btn" href="#">Most remixed</a>
</div>

<ul ng-repeat="make in makes">
  <li>
    <a href="{{ make.url }}" target="_blank">{{ make.title }}</a>
    <p>{{ make.likes.length }} Likes</p>
  </li>
</ul>
