<div class="clearfix margin-bottom">
  <h2 class="pull-left">Teaching Resources</h2>
  <a href="#" class="btn btn-primary pull-right margin-top" target="_blank">+ Add a Resource</a>
</div>

<div wmp-sort-order class="margin-bottom btn-group">
  <a data-sort-id="-createdAt" class="btn btn-default" href="#">Newest</a>
  <a data-sort-id="-likeCount" class="btn btn-default" href="#">Most liked</a>
  <!-- <a data-sort-id="remixes" class="btn" href="#">Most remixed</a> -->
</div>

<ul ng-repeat="make in makes | orderBy: sortOrder">
  <li>
    <a href="{{ make.url }}" target="_blank">{{ make.title }}</a>
    <p>{{ make.likeCount }} Likes</p>
  </li>
</ul>
