<div class="clearfix margin-bottom">
  <h2 class="pull-left">Teaching Resources</h2>
  <a href="http://thimble.webmaker.org" class="btn btn-primary pull-right margin-top" target="_blank">+ Add a Resource</a>
</div>

<wmp-sort-filter-bar wmp-toggle-group class="margin-bottom btn-group">
  <button data-sort-id="-createdAt" class="btn btn-default active">Newest</button>
  <button data-sort-id="-likeCount" class="btn btn-default">Most popular</button>

  <!-- TODO: Need optimized remix query in makeAPI -->
  <!-- <a data-sort-id="remixes" class="btn" href="#">Most remixed</a> -->
</wmp-sort-filter-bar>

<ul ng-repeat="make in makes | orderBy: sortOrder || '-createdAt'">
  <li>
    <a href="{{ make.url }}" target="_blank">{{ make.title }}</a>
    <p>{{ make.likeCount }} Likes</p>
    <p>{{ make.remixCount }} Remixes</p>
  </li>
</ul>
