<!doctype html>
<html lang="en" ng-app="wmProfile">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <meta charset="utf-8">

  <title ng-bind="WMP.username + ' | Webmaker'"></title>

  <link rel="icon" type="image/png" href="_img/favicon.ico">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <link rel="stylesheet" href="/user/_compiled/app.ltr.css">

  <style type="text/css">
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
  </style>

  <base href="/user/">
</head>

<body ng-cloak>

  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 clearfix">
          <a href="https://webmaker.org" class="logo webmaker-logo">
            <img src="_bower_components/makerstrap/images/logo.png">
          </a>
          <wmp-login>
        </div>
      </div>
    </div>
  </header>

  <div class="container double-margin-bottom">

    <div ng-controller="userMeta as user" class="row double-margin-bottom">
      <div class="user-avatar col-xs-12 col-sm-2">
        <img ng-src="{{ user.avatar }}" class="img-circle img-responsive">
      </div>

      <div class="user-metadata solid-bg col-xs-12 col-sm-10">
        <div ng-class="{'row': hasFeaturedBadge, 'match-child-heights-min-sm': hasFeaturedBadge}">
          <div ng-class="{'col-sm-10': hasFeaturedBadge}">
            <div class="clearfix">
              <h1 class="pull-left">{{ WMP.username }}</h1>

              <button ng-show="canEdit" ng-click="isEditMode = !isEditMode" class="btn btn-secondary pull-right margin-top">
                <span ng-hide="isEditMode" class="fa fa-pencil"></span>
                <span ng-show="isEditMode" class="fa fa-save"></span>
              </button>
            </div>

            <div class="margin-bottom">
              <textarea class="form-control" ng-show="isEditMode" placeholder="Write a little about yourself!" ng-model="user.bio"></textarea>
              <p ng-hide="isEditMode">{{ user.bio }}</p>
            </div>

            <div class="margin-bottom">
              <input autocomplete-location class="form-control" ng-show="isEditMode" ng-model="user.location" placeholder="Where do you live?">
              <a ng-hide="isEditMode || !user.location " href="#"><span class="fa fa-map-marker nbsp-right"></span>{{ user.location }}</a>
            </div>

            <wmp-link-collector wmp-edit-mode="isEditMode" ng-model="user.links" class="margin-bottom">
          </div>

          <div ng-if="hasFeaturedBadge" class="featured-badge hidden-xs col-sm-2">
            <img src="https://badgekit.mofostaging.net/images/badge/132">
            <p>Super Mentor</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="tab-nav col-xs-12">
        <div wmp-toggle-group wmp-activate-child class="btn-group">
          <a class="btn" href="/user/{{ WMP.username }}/badges">Badges</a>
          <a class="btn" href="/user/{{ WMP.username }}/teaching-resources">Teaching Resources</a>
          <a class="btn" href="/user/{{ WMP.username }}/makes">Makes</a>
          <a class="btn" href="/user/{{ WMP.username }}/likes">Likes</a>
          <a class="btn" href="/user/{{ WMP.username }}/events">Events</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 solid-bg">
        <div ng-view class="main"></div>
      </div>
    </div>
  </div>

  <script src="https://login.persona.org/include.js"></script>

  <script src="_bower_components/webmaker-auth-client/dist/webmaker-auth-client.min.js"></script>
  <script src="_bower_components/makeapi-client/src/make-api.js"></script>
  <script src="_bower_components/jquery/dist/jquery.min.js"></script>

  <script src="_bower_components/angular/angular.min.js"></script>
  <script src="_bower_components/angular-route/angular-route.min.js"></script>
  <script src="_bower_components/angular-resource/angular-resource.min.js"></script>

  <script src="_bower_components/locompleter/locompleter.js"></script>

  <script src="_js/app.js"></script>
  <script src="_js/services.js"></script>
  <script src="_js/controllers.js"></script>
  <script src="_js/filters.js"></script>
  <script src="_js/directives.js"></script>

</body>

</html>
