<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" ng-class="{open: ddOpen}" ng-cloak ng-show="_user.email">
    <button class="navbar-user-info dropdown-toggle no-style" ng-click="ddOpen = !ddOpen">
      <span class="sr-only">{{ 'userlinks' | i18n }}</span>
      <img class="user-info-avatar" ng-src="{{ _user.avatar }}">
      <span>{{ 'Hi' | i18n }}, </span>
      <strong>{{ _user.username }}</strong> 
      <span class="label label-primary" ng-show="_user.isAdmin">{{ 'admin' | i18n }}</span>
      <span class="label label-info" ng-show="!_user.isAdmin && _user.isSuperMentor">{{ 'supermentor' | i18n }}</span>
      <span class="label label-warning" ng-show="!_user.isAdmin && !_user.isSuperMentor && _user.isMentor">{{ 'mentor' | i18n }}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="/user/{{ _user.username }}" target="_self"><span class="fa fa-user"></span> {{ 'myprofile' | i18n }}</a>
      </li>
      <li>
        <a href="{{ WMP.config.accountSettingsURL }}" target="_blank"><span class="fa fa-cog"></span> {{ 'Settings' | i18n }}</a>
      </li>
      <li class="divider"></li>
      <li>
        <a wm-logout href="#" ng-click="ddOpen = false;"><span class="fa fa-sign-out"></span> {{ 'logout' | i18n }}</a>
      </li>
    </ul>
  </li>
  <li>
    <button wm-signin ng-cloak ng-show="!_user.email" class="btn btn-primary btn-sm navbar-btn">{{ 'login' | i18n }}</button>
  </li>
</ul>
