<ul class="makes-list" infinite-scroll="loadMore()">
  <li ng-repeat="make in makes">
    <article class="make-view {{ make.contentType }}" id="id_{{ make._id }}">
      <time datetime="{{ make.createdAt | rfc3339 }}" pubdate></time>
      <figure class="make-thumbnail" ng-hide="thumbFailed">
        <img wmp-src="{{ make.thumbnail }}" wmp-src-failed="thumbFailed">
      </figure>

      <div ng-class="{'make-text': !thumbFailed}">
        <h1 class="make-title">
          <a href="{{ make.url }}" target="_blank">{{ make.title }}</a>
        </h1>

        <p>{{ make.description }}</p>

        <div class="make-meta">
          <span class="make-likes" ng-if="make.likes.length">{{ make.likes.length }}</span>
          <span class="make-likes-empty" ng-if="!make.likes.length"></span>
          <ul class="make-tags" ng-if="make.tags.length">
            <li ng-repeat="tag in make.tags">
              <a href="/{{ lang }}/search?type=tags&q={{ tag }}" target="_self">{{ tag | decode }}</a><span ng-class="{hidden:$last}">,</span>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </li>
</ul>