<ul class="makes-list">
  <li ng-repeat="make in makes | filter: filterBy | orderBy: sortOrder || '-createdAt'">
    <article class="make-view {{ make.contentType }}" id="id_{{ make._id }}">
      <time datetime="{{ make.createdAt | rfc3339 }}" pubdate></time>
      <figure class="make-thumbnail">
        <img ng-src="{{ make.thumbnail }}">
      </figure>

      <h1 class="make-title">
        <a href="{{ make.url }}" target="_blank">
          {{ make.title }}
        </a>
      </h1>

      <p class="make-description">
        {{ make.description }}
      </p>

      <div class="make-meta">
        <span class="make-likes">{{ make.likes.length }}</span>
        <ul class="make-tags" ng-if="make.tags.length">
          <li ng-repeat="tag in make.tags">
            <a href="/{{ lang }}/search?type=tags&q={{ tag }}">{{ tag | decode }}</a><span ng-class="{hidden:$last}">,</span>
          </li>
        </ul>
      </div>
    </article>
  </li>
</ul>
